[Unit]
Description=Creates DCOS environment in Docker Container

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/start.sh

[Install]
WantedBy=default.target
